@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Poppins:wght@200;400;600;700;800&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.linear-bg{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.outlined-text{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.owned-nfts-grid{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      250px,
      1fr
    )
  );
  gap: 48px;
}
